.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: -20px;
    gap: 38px;
  }
  
  .logo {
    height: 100px;
  }
  
  .date {
    font-size: 16px;
    color: rgb(54, 28, 10);
    margin-right: 20px;
    font-weight: 700;
    border: 1px solid rgb(241, 182, 45);
    padding: 5px 12px;
    border-radius: 50px;
    background-color: white; /* чуть тёплый фон */
    opacity: 0.7;
    box-shadow: 
      0 8px 20px rgba(241, 212, 45, 0.4),
      0 4px 10px rgba(0, 0, 0, 0.15);
  }
  
  

  