.containerPrice {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 14px;
}

.containerPriceOneAndTwo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 14px;
}

.class, 
.priceOne,
.priceTwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.input {
    width: 70px;
    font-style: none;
    border: none;
    padding: 5px 7px;
    background-color: rgb(254, 240, 223);
    border-radius: 5px;
    text-align: center;
    border: 1px solid rgb(88, 50, 21);
    font-weight:bold;
    font-size: 17px;
}

.inputClass {
    width: 50px;
    font-style: none;
    border: none;
    padding: 7px 7px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(231, 191, 143);
    border: 1px solid rgb(88, 50, 21);
    font-weight: bold;
    color: rgb(61, 47, 47);
    opacity: 1;
}

.h4Block {
    background-color: white;
    opacity: 0.7;
    display: flex;
    height: 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5px 3px;
    margin-bottom: 5px;
    margin-top: 15px;
}

.h4 {
    font-size: 14px;
}

.up {
    background-color: rgb(154, 205, 112);
}

.down {
    background-color: rgb(230, 135, 135);
}

.same {
    background-color: rgb(254, 240, 223);
}

.blockRostov {
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.diff {
    width: 31.5px;
    height: 31.5px;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
    font-size: 10px;
    font-weight: 700;
    box-sizing: border-box;
    background-color: rgb(254, 240, 223);
}

.blockPriceRostov {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.blockDiffRostov {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
