.titleBlock {
    margin: 0 auto;
    width: 70%;
    background-color: white;
    opacity: 0.6;
    border-radius: 10px;
    margin-top: 15px;
}

.title {
    text-align: center;
    font-size: 20px;
    margin: 0;
}

.barley {
    margin: 0 auto;
    width: 70%;
    background-color: white;
    opacity: 0.6;
    border-radius: 10px;
    margin-top: 20px;
}